#custom-nav {
    background-color: rgba(0,0,0,0);
    border: 0;
    box-shadow: none;
    z-index: 999;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: background .5s ease-in-out, opacity .5s ease;
    -moz-transition: background .5s ease-in-out, opacity .5s ease;
    transition: background .5s ease-in-out, opacity .5s ease;
}

#back-img {
	background-image: url("../image/large.jpg");
	background-repeat: no-repeat;
    background-size: 100%;	
}

#backcolor-1 {
	background-color: #1F618D;
    opacity: 0.5;
    padding: 0% !important;
}

#back-img-2 {
	background-image: url("../image/sec-2.jpg");
	background-repeat: no-repeat;
    background-size: 100%;
    padding: 0% !important;
    opacity: 0.5;
    width: 80%;
	height: 700px;
}

.color-sub {
	color: #0FC4C4;
}

#img-banner {
	width: 100%;
	height: 500px;
}

.h1-txt {
	width: 60%;
	color: white;
	margin: 15% 20%;
}

.txt-azul {
	color: #1F618D;
}

.color-blanco {
	color: white;
}

.boton {
	border: 2px solid white;
	background-color: #1F618D;
	color: white;
	width: 40%;
	margin-top: 8%;
	margin-bottom: 8%;
	font-size: 20px;
}

.img-3 {
	width: 10%;
	margin: 5% 45%;
	padding: 0% !important;
}

.marg-top {
	margin-top: 10%;
}

.marg-botton {
	margin-bottom: 15%;
}

hr { 
   background: url("../image/separador.png") no-repeat center; 
   height: 100px;
 } 

 #img-size {
 	width: 70%;
 	margin-right: 30%;
 }

.img-file {
	margin-right: 0% !important;
}
