/* BACK IMAGEN */
#back-img-1 {
	background-image: url("../image/large.jpg");
	background-repeat: no-repeat;
    background-size: 100% 100%;
}

/* TRANSPARENCIA DIV PRUEBALO GRATIS */
.color-div-trans {
	background-color: #0598FB;
    opacity: 0.5;
    height: 150px;
    padding: 0% !important;
}

/* TRANSPARENCIA OSCURA */
.color-div-trans-1 {
	background-color: rgba(128,128,128,.4);
    height: 100%;
}

/* BOTON PRUEBALO GRATIS */
.boton {
	color: white;
	background-color: #0598FB;
    opacity: 0.5;
    font-size: 20px;
    border: 2px #FFF solid;
    margin-top: 50px;	
}

.txt-white {
	color: #FFF;
}

.margin-top-1 {
	margin-top: 50px;
}

.menu {
	font-size: 17px;
	margin-top: 9px; 
	color: #FFF;
}

.margin-bottom-1 {
	margin-bottom: 10%;
}


.icon-gears {
	color: white;
	font-size: 30px;

}

.margin-top-2 {
	margin-top: 10%;
}

#img-size {
	width: 300px;
}

#back-img-2 {
	background-image: url("../image/sec-2.jpg");
	background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 90%;
    height: 500px;
}

.img-file {
	position: relative;
	right: 0px;
}

#position-list {
	position: absolute;
	top: 40px;
	right: 40px;
}

.margin-top-icon {
	margin-top: 60px;
}

#img-banner {
	width: 100%;
}

#back-footer {
	background-color: #283747;
}

.color-blue {
	color: #3498DB;
}

.top {
	margin-top: 10% !important;
}

.bottom {
	margin-bottom: 10% !important;
}

.modal {
	background-image: url("../image/large.jpg");
	background-repeat: no-repeat;
    background-size: 100% 100%;
}


.efecto-1-achicar:hover
{
-webkit-transform: scale(0.8);
-ms-transform: scale(0.8);
transform: scale(0.8);
}


.hr .img-separador {
    position: absolute;
    left: 45%;
    top: 50%;
    transform: translateY(-50%);
}

.hr {
	padding: 4% 0%;
    position: relative;
}


.color-txt-modal {
	color: black;
	font-size: 15px;
}


.efecto-2-agranda:hover
{
-webkit-transform: scale(1.3);
-ms-transform: scale(1.3);
transform: scale(1.3);
}

.icono {
	color: #0598FB;
	font-size: 80px;
}